<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nodeshopee | Products</title>
</head>
<body>
    <header>
        <ul>
            <li>Shop Home</li>
            <li>Add Product</li>
        </ul>
    </header>
    <form action="/admin/products" method="POST">
        <label for="">Product title:</label>
        <input type="text" name="title">
        <button type="submit">Submit</button>
    </form>
</body>
</html>